<h1> Broker Login </h1>

<h3> <% if flash[:error] %>
<%= flash[:error] %>
<% end %>

<%= form_for :broker, url:  broker_logging_path do |f| %>
<p><%= f.label :name %></p>
<%= f.text_field :name %>

<p><%= f.label :password %></p>
<%= f.text_field :password %><br><br>

<%= f.submit value: "Login" %>
<% end %>