<div class="logo">
        <%= link_to image_tag("/assets/logo.png"), home_path %><br>
        </div>


<%# <h1> Please specify What this delivery consists of </h1> %>

<% x = ["8'6", "9'6"] %>

<% if flash[:errors] %>
<% flash[:errors].each do |error| %>
<%= error %><br>
<% end %>
<% end %>

<%= form_for @delivery do |f| %>

<%= f.hidden_field :broker_id, :value => session[:broker_id] %>

<p><%= f.label :supplier %></p>
<%= f.collection_select :supplier_id, Supplier.all, :id, :company %>

<p><%= f.label :receiver %></p>
<%= f.collection_select :receiver_id, Receiver.all, :id, :company %>

<p><%= f.label :driver %></p>
<%= f.collection_select :driver_id, Driver.all, :id, :name %>

<%= f.label :height %>
<%= f.select :height, x.map { |value| [value] } %>

<p><%= f.label :weight %> In Lbs</p>
<%= f.text_field :weight %>

<p><%= f.label :hazardous %></p>
<%= f.check_box :hazardous %>

<p><%= f.label :scheduled_pickup %></p>
<%= f.datetime_select :scheduled_pickup %>

<%= f.hidden_field :status, :value => "Awaiting Pickup" %>

<p><%= f.label :description %></p>
<%= f.text_area :description, value: "Please Specify the number of pallets, and the product", cols: "30", rows: "10"%><br>


<%= f.submit %>
<% end %>