<h1> Please specify What this delivery consists of </h1>

<%= form_for @delivery do |f| %>

<%= f.hidden_field :broker_id, :value => session[:broker_id] %>

<p><%= f.label :supplier %></p>
<%= f.collection_select :supplier_id, Supplier.all, :id, :company %>

<p><%= f.label :receiver %></p>
<%= f.collection_select :receiver_id, Receiver.all, :id, :company %>

<p><%= f.label :driver %></p>
<%= f.collection_select :driver_id, Driver.all, :id, :name %>

<p><%= f.label :height %></p>
<%= f.text_field :height %>

<p><%= f.label :weight %></p>
<%= f.text_field :weight %>

<p><%= f.label :hazardous %></p>
<%= f.check_box :hazardous %>

<p><%= f.label :scheduled_pickup %></p>
<%= f.datetime_select :scheduled_pickup %>

<%= f.hidden_field :status, :value => "Awaiting Pickup" %>

<p><%= f.label :description %></p>
<%= f.text_area :description, value: "Please Specify the number of pallets, and the product" %><br>


<%= f.submit %>
<% end %>