<div class="logo">
        <%= link_to image_tag("/assets/logo.png"), home_path %><br>
        </div>
        
<h1>Delivery Show Page</h1>

<h5>Status: <%= @delivery.status %></h5>

<h2>Driver: <%= @delivery.driver.name %></h2>
<h3>Supplier: <%= @delivery.supplier.company %></h3>
<h4>Location: <%= @delivery.supplier.location %></h4>

<h3>Receiver: <%= @delivery.receiver.company %></h3>
<h4>Location: <%= @delivery.receiver.location %></h4>

<h3>Hazardous: <%= @delivery.hazardous %></h3>
<h3>Pickup Time: <%= @delivery.scheduled_pickup.strftime("%A, %H:%M %p") %></h3>
<h3>Height: <%= @delivery.height %></h3>
<h3>Weight: <%= @delivery.weight %></h3>
<h3>Description: <%= @delivery.description %></h3>




<p><%= button_to "Pickup", pickup_path(@delivery), method: :patch %></p>
<p><%= button_to "Dropoff", dropoff_path(@delivery), method: :patch %></p>

<h3>Actual Pickup: <%= @delivery.actual_arrival_display %></h3>


<h3>Actual Dropoff: <%= @delivery.actual_dropoff_display %></h3>

<%= button_to "Delete This delivery", delivery_path(@delivery), method: :delete %>

