 
<body> 
 <div class="logo">
    <%= link_to image_tag("/assets/logo.png"), home_path %><br>
  </div>
    
<h1>Driver</h1>
<div class="login">
        <%= link_to image_tag("/assets/login.png"), driver_login_path, method: :get %><br>
        <%= link_to image_tag("/assets/register.png"), new_driver_path, method: :get %>
    </div>


  <% if @logged_in_broker %>
    <%= "Signed in as #{@logged_in_broker.name}"%>
    <%= button_to "LOGOUT", broker_logout_path, method: :delete %><br>
    <% end %> 
    <% if flash[:not_logged] %>
    <%= flash[:not_logged] %>
    <% end %>
    <% if @logged_in_driver %>
    <%= "Signed in as #{@logged_in_driver.name}"%>
    <%= button_to "LOGOUT", driver_logout_path, method: :delete, form_class: "logout" %>
    <% end %>

    <%= yield %>
 
 </body>