<div class="logo">
    <%= link_to image_tag("/assets/logo.png"), drivers_path %><br>
  </div>
    
<h1> Driver Signup </h1>

<%= form_for @driver do |f| %>
<p><%= f.label :name %></p>
<%= f.text_field :name %>

<p><%= f.label :email %></p>
<%= f.text_field :email %>

<p><%= f.label :password %></p>
<%= f.text_field :password %><br><br><br>

<%= f.submit value: "SIGNUP" %>

<% end %>