
<h1> Driver Signup </h1>

<% if flash[:error] %>
<% flash[:error].each do |error| %>
<%= error %><br>
<% end %>
<% end %>

<%= form_for @driver do |f| %>
<p><%= f.label :name %></p>
<%= f.text_field :name %>

<p><%= f.label :email %></p>
<%= f.text_field :email %>

<p><%= f.label :password %></p>
<%= f.text_field :password %><br><br><br>

<%= f.submit value: "SIGNUP" %>

<% end %>