
<div class="logo">
    <%= link_to image_tag("/assets/logo.png"), drivers_path %><br>
  </div>


  <% if @driver.deliveries.last %>
    <p><%= button_to "JOBS IN PROGRESS", delivery_transit_path(@driver.deliveries.last), method: :get %></p>
    <p><%= button_to "WORK HISTORY", delivery_dropped_off_path(@driver.deliveries.last), method: :get %></p>
  <% end %>

 <br> 
<h3> <%= @driver.name %> | Driver </h3>

  <div class="listing">
    <h4> ↓ New Jobs ↓ </h4>
    <% if !@driver.new_delivery.blank? %>
      <% @driver.new_delivery.each do |delivery|%> <%# If a driver has a new delivery, iterates through all new deliveries %>
          <div class="container">
            <div class="status">
                <% if delivery.status == "Awaiting Pickup" %>
                    <div class="redstatus">
                        <b><%= delivery.status %></b>
                            <div class="id">
                                <%= delivery.supplier.company_id(delivery.id) %>
                            </div>
                    </div>
                <% elsif delivery.status == "In Transit" %>
                    <div class="bluestatus">
                        <b><%= delivery.status %></b>
                            <div class="id">
                                <%= delivery.supplier.company_id(delivery.id) %>
                            </div>
                    </div>
                <% else %>
                    <div class="greenstatus">
                        <b><%= delivery.status %></b>
                            <div class="id">
                                <%= delivery.supplier.company_id(delivery.id) %>
                            </div>
                    </div>
                <% end%>
                </div>
            <div class="item2">
              <b>Supplier:</b> <%= delivery.supplier.company %> ﹒ <b>Location:</b> <%= delivery.supplier.location %>
              <br> <b>Receiver:</b> <%= delivery.receiver.company %> ﹒ <b>Destination:</b> <%= delivery.receiver.location %>
              <br> <b>Pickup Time (Scheduled):</b> <%= delivery.scheduled_pickup.strftime("%A, %H:%M %p") %> ﹒ <b>Hazardous:</b> <%= delivery.hazardous %>
              <br> <b>Height:</b> <%= delivery.height %> ﹒ <b>Weight:</b> <%= delivery.weight %>
              <br><br> <b>Description:</b> <%= delivery.description %>
              <%= button_to "PICKUP", pickup_path(delivery), method: :patch %>
            </div>
          <% end %>
      <% else %>
      <h3> No new jobs assigned to you.</h3>
     <%= button_to "Request a Delivery", broker_alert_path, method: :post %><%# If there are no new deliveries Request a delivery button will show %>
    <% end %>
      <% if session[:alert] && session[:alert].include?("#{@driver.name} has requested a delivery") %>
      <h5><%= "A broker has been notified"%></h5>
      <% end %>
    </div>
