<div class="logo">
        <%= link_to image_tag("/assets/logo.png"), home_path %><br>
        </div>

<h1> Hello <%= @driver.name %> </h1>

<h2> Deliveries For today: </h2>
<% if !@driver.new_delivery.blank? %>
<% @driver.new_delivery.each do |delivery|%>

<h3>Supplier: <%= delivery.supplier.company %></h3>
<h4>Location: <%= delivery.supplier.location %></h4>

<h3>Receiver: <%= delivery.receiver.company %></h3>
<h4>Location: <%= delivery.receiver.location %></h4>

<h3>Hazardous: <%= delivery.hazardous %></h3>
<h3>Pickup Time: <%= delivery.scheduled_pickup.strftime("%A, %H:%M %p") %></h3>
<h3>Height: <%= delivery.height %></h3>
<h3>Weight: <%= delivery.weight %></h3>
<h3>Description: <%= delivery.description %></h3>
<h3> Status: <%= delivery.status %></h3>


<p><%= button_to "Start Delivery", pickup_path(delivery), method: :patch %></p>


<% end %>

<% else %>
<h3> There are no jobs assigned to you </h3>
<% end %>
<% if @driver.deliveries.last %>
<p><%= button_to "View Jobs In Progress", delivery_transit_path(@driver.deliveries.last), method: :get %></p>
<p><%= button_to "View your work history", delivery_dropped_off_path(@driver.deliveries.last), method: :get %></p>
<% end %>