<h1> Hello <%= @broker.name %> </h1>

<p><%= button_to "Create new Shipment", new_delivery_path, method: :get %></p>
<p><%= button_to "View your Trucks in Transit",  brokers_transit_path, method: :get %></p>
<p><%= button_to "View your previous deliveries", brokers_dropped_off_path, method: :get %></p>

<h4> Jobs For The Day: </h4>
<% @broker.deliveries.each do |delivery| %>
<p>Company: <%= link_to delivery.supplier.company, delivery_path(delivery) %> || Located: <%= delivery.supplier.location %> || Destination: <%= delivery.receiver.location %> || <%= delivery.status %><p>

<% end %>

