  <div class="logo">
    <%= link_to image_tag("/assets/logo.png"), brokers_path %><br>
  </div>
        
<p><%= button_to "NEW DELIVERY", new_delivery_path, method: :get %></p>
<p><%= button_to "TRUCKS IN TRANSIT",  brokers_transit_path, method: :get %></p>
<p><%= button_to "PREVIOUS DELIVERIES", brokers_dropped_off_path, method: :get %></p>

<div class="listing">
    <h4> ↓ Current Deliveries ↓ </h4>
    <% @broker.deliveries.each do |delivery| %>
        <a class="listinglink" href="<%= delivery_path(delivery) %>">
            <div class="item">
            Load ID: <%= link_to delivery.supplier.company_id, delivery_path(delivery) %> || Company: <%= delivery.supplier.company %> || Located: <%= delivery.supplier.location %> || Destination: <%= delivery.receiver.location %> || <%= delivery.status %>
            </div> 
        </a>
    <% end %>
</div>

