<!DOCTYPE html>
<html>
  <head>
    <title>Hitch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<% if @logged_in_broker %>
<%= "Signed in as #{@logged_in_broker.name}"%>
<%= button_to "LOGOUT-br", broker_logout_path, method: :delete %><br>
<% end %> 
<% if flash[:not_logged] %>
<%= flash[:not_logged] %>
<% end %>
<% if @logged_in_driver %>
<%= button_to "LOGOUT-dr", driver_logout_path, method: :delete, form_class: "logout" %>
<% end %>

    <%= yield %>

  </body>
</html>
